/*
 * Hex-to-filter: https://codepen.io/sosuke/pen/Pjoqqp
 */

/*
 * VARIABLES
 */
:root {
    --colorFont: #000;
    --main: #f5f5f5;
    --secondary: #eee;
    --third: #c5c5c5;
    --thirdFilter: invert(88%) sepia(10%) saturate(10%) hue-rotate(348deg) brightness(96%) contrast(75%);
}

/*
 * GENERIC
 */
body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}

.svg-container {
    text-align: center;
}

.image-container {
    background-color: rgba(123, 123, 123, 50%);
    line-height: 0;
}

img.svg {
    filter: var(--thirdFilter);
}

/*
 * HEADER
 */
header {
    background-color: var(--main);
    text-align: center;
}

.title {
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    text-align: center;
}

.date {
    font-family: 'Merriweather', serif;
    font-size: 1em;
    padding-bottom: 3em;
    font-weight: bold;
}

.date-line {
    border-top: 1px solid var(--colorFont);
    padding-left: 10em;
    font-size: 0.3em;
}

.date-text {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/*
 * NAV
 */
nav {
    background: linear-gradient(0deg, rgba(251, 251, 251, 1) 0%, rgba(233, 233, 233, 1) 100%);
    color: black;
    padding: 2em;
    font-size: 1em;
    text-align: center;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
}

.diamond {
    font-size: 1em;
    color: black;
    padding-left: 1em;
    padding-right: 1em;
}

/*
 * MAIN
 */
article {
    text-align: center;
    margin-bottom: 5em;
    margin-top: 2.5em;
}

div.article-title {
    font-family: 'Dancing Script', cursive;
    font-size: 3.5em;
    margin-bottom: 0.3em;
}

.article-subtitle {
    font-style: italic;
}

div.article-footer {
    margin-bottom: 2em;
}

div.article-divider {
    height: 30px;
    background: linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
    /* background: linear-gradient(0.25turn, #fff, var(--main), #fff); */
}

.highlight {
    text-decoration: italic;
}

table#gifts {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border: 2px solid var(--secondary);
}

table#gifts th {
    white-space: nowrap;
    text-align: right;
    vertical-align: top;
    ;
    font-weight: bold;
}

table#gifts td {
    text-align: left;
    padding-left: 1em;
}

table#gifts #gifts-title {
    font-style: italic;
    text-align: center;
    font-size: 1.2em;
    padding: 0 0 0.7em 0;
}

/*
 * FOOTER
 */
footer {
    background-color: #f5f5f5;
    padding: 2em;
    padding-top: 1em;
    text-align: center;
}

.copyright {
    font-size: 0.8em;
    padding-top: 1em;
}
