/*
 * Hex-to-filter: https://codepen.io/sosuke/pen/Pjoqqp
 */

/*
 * VARIABLES
 */
:root {
    --colorFont: #655431;
    --colorSecondary: #eee;
    --colorThirdFilter: invert(67%) sepia(100%) saturate(100%) hue-rotate(5deg) brightness(103%) contrast(108%);
}

/*
 * GENERIC
 */
html {
    color: var(--colorFont);
}

body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}

.marble-grey {
    background-size: 100% auto;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(images/marble-grey.jpg);
    background-repeat: repeat-y;
}

.marble-yellow {
    background-size: 100% auto;
    background-image: url(images/marble-yellow5.jpg);
    background-repeat: repeat-y;
}

.image-container img {
    margin-top: 1em;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
    border: 16px solid white;
    line-height: 0;
}

img.svg {
    filter: var(--colorThirdFilter);
}

/*
 * HEADER
 */
header {
    text-align: center;
}

.title {
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    text-align: center;
}

.date {
    font-family: 'Merriweather', serif;
    font-size: 1em;
    padding-bottom: 3em;
    font-weight: bold;
}

.date-line {
    border-top: 1px solid var(--colorFont);
    padding-left: 10em;
    font-size: 0.3em;
}

.date-text {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/*
 * NAV
 */
nav {
    /* background: linear-gradient(0deg, rgba(251, 251, 251, 1) 0%, rgba(233, 233, 233, 1) 100%); */
    /* color: black; */
    padding: 2em;
    font-size: 1em;
    text-align: center;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
}

.diamond {
    font-size: 1em;
    color: black;
    padding-left: 1em;
    padding-right: 1em;
}

/*
 * MAIN
 */
article {
    text-align: center;
    margin-bottom: 5em;
    margin-top: 2.5em;
}

div.article-title {
    font-family: 'Dancing Script', cursive;
    font-size: 3.5em;
    margin-bottom: 0.3em;
}

div.article-footer {
    margin-bottom: 2em;
}

.highlight {
    font-style: italic;
}

table#gifts {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border: 2px solid var(--colorSecondary);
}

table#gifts th {
    white-space: nowrap;
    text-align: right;
    vertical-align: top;
    ;
    font-weight: bold;
}

table#gifts td {
    text-align: left;
    padding-left: 1em;
}

table#gifts #gifts-title {
    font-style: italic;
    text-align: center;
    font-size: 1.2em;
    padding: 0 0 0.7em 0;
}

/*
 * FOOTER
 */
footer {
    padding: 2em;
    padding-top: 1em;
    text-align: center;
}

.copyright {
    font-size: 0.8em;
    padding-top: 1em;
}
