/*
 * Hex-to-filter: https://cssfilterconverter.com/
 */

/*
 * VARIABLES
 */
:root {
    --colorFont: #655431;
    --colorFontFilter: brightness(0) saturate(100%) invert(32%) sepia(22%) saturate(842%) hue-rotate(2deg) brightness(94%) contrast(91%);
    --colorSecondary: #eee;
    --colorThird: #F2DCA6;
    --colorThirdFilter: invert(58%) sepia(89%) saturate(2188%) hue-rotate(16deg) brightness(111%) contrast(91%);
    --colorFourth: #a67f1e;
}

/*
 * FONTS
 */
@font-face {
    font-family: 'Adios Script Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/adios-script-pro.woff') format('woff');
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/merriweather-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/dancing-script-regular.ttf') format('truetype');
}

/*
 * GENERIC
 */
html {
    color: var(--colorFont);
    width: 100%;
}

body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}

a {
    color: var(--colorFourth);
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid var(--colorFourth);
}

p {
    line-height: 1.7em;
}

.marble-grey {
    background-size: 100% auto;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images/marble-grey.jpg");
    background-repeat: repeat-y;
}

.marble-yellow {
    background-size: 100% auto;
    background-image: linear-gradient(rgb(255 255 255 / 79%), rgb(255 255 255 / 57%)), url("../images/marble-yellow.jpg");
    background-repeat: repeat-y;
}

.image-container {
    margin-top: 1em;
}

.image-container img {
    margin-top: 1em;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
    border: 16px solid white;
    line-height: 0;
}

@media (max-width: 900px) {
    .image-container img {
        border: 8px solid white;
    }
}

img.svg {
    filter: var(--colorThirdFilter);
}

/*
 * HEADER
 */

#image-header {
    width: 350px;
}

@media (max-width: 900px) {
    #image-header {
        width: 250px;
    }
}

header {
    text-align: center;
}

.frame-container {
    height: 470px;
    overflow: hidden;
}

@media (max-width: 900px) {
    .frame-container {
        height: 245px;
    }
}

.frame-white-layer {
    background: linear-gradient(rgba(255, 255, 255, 1), #ebe5db);
    width: 790px;
    height: 500px;
    margin: 0 auto;
    margin-top: 55px;
}

@media (max-width: 900px) {
    .frame-white-layer {
        width: 315px;
        height: 500px;
        margin-top: 18px;
    }
}

.title-photo {
    width: 787px;
    filter: saturate(0.7);
    position: relative;
    top: -520px;
}

@media (max-width: 900px) {
    .title-photo {
        width: 349px;
        top: -500px;
    }
}

.frame-svg-container {
    position: relative;
    top: -1086px;
}

@media (max-width: 900px) {
    .frame-svg-container {
        top: -754px;
    }
}

img#img-frame {
    width: 900px;
}

@media (max-width: 900px) {
    img#img-frame {
        width: 350px;
    }
}

.title-container {
    position: relative;
    top: -1530px;
}

@media (max-width: 900px) {
    .title-container {
        top: -930px;
    }
}

.title {
    font-family: 'Adios Script Pro Regular', cursive;
    font-size: 5em;
    margin-bottom: 0.3em;
    margin-top: 0.6em;
    text-align: center;
    text-shadow: 2px 2px 6px black;
    color: #ffe6c5;
}

@media (max-width: 900px) {
    .title {
        font-size: 3.5em;
        text-shadow: 2px 1px 4px #222;
    }
}

.date {
    position: relative;
    top: -60px;
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
    padding-bottom: 3em;
    font-weight: bold;
    text-shadow: 1px 1px 3px #000;
    color: #ffe6c5;
}

@media (max-width: 900px) {
    .date {
        top: -45px;
        font-size: 0.8em;
    }
}

.date-line {
    text-shadow: 1px 1px 3px #373737;
    font-size: 1em;
}

.date-text {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/*
 * NAV
 */
nav {
    padding: 2em;
    font-size: 1.1em;
    text-align: center;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    box-shadow: 0px -18px 21px -18px #5e420c45;
    border-bottom: 1px solid #c2a05d45;
    position: relative;
}

@media (max-width: 900px) {
    nav {
        padding: 1em;
    }

    nav a {
        display: block;
        padding: 4px;
    }
}

.diamond {
    color: var(--colorFourth);
    font-size: 0.6em;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 2em;
    vertical-align: top;
}

@media (max-width: 900px) {
    .diamond {
        display: none;
    }
}

/*
 * CONTENT
 */
main {
    padding-bottom: 1px;
    box-shadow: 0px 18px 21px -18px #5e420c45
}

@media (max-width: 900px) {
    main {
        padding: 1em;
    }
}

article {
    text-align: center;
    margin-bottom: 5em;
    margin-top: 2.5em;
}

div.article-title {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    margin-bottom: 0.2em;
}

div.article-title-underline {
    margin-bottom: 2em;
}

.highlight {
    font-style: italic;
    font-weight: bold;
    padding: 3px;
}

.highlight-strong {
    font-style: italic;
    padding: 3px;
    border-radius: 6px;
    background-color: #ead9b080;
}

p.article-text {
    max-width: 500px;
    margin: 0 auto;
    text-align: justify;
}

img#galatina,
img#cala,
img#santa-cesarea {
    width: 500px;
}

@media (max-width: 900px) {

    img#galatina,
    img#cala,
    img#santa-cesarea {
        width: 300px;
    }
}

/*
 * CONTENT: ACCOMODATION
 */
ul#accomodation-list {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
    padding: 1em;
    padding-left: 3em;
}

ul#accomodation-list li {
    list-style: none;
    line-height: 1.5em;
}

ul#accomodation-list li::before {
    content: url('../svg/list-item.svg');
    filter: var(--colorThirdFilter);
    padding-right: 0.5em;
}

/*
 * CONTENT: RSVP
 */
.rsvp-contact {
    width: 250px;
    padding-top: 2em;
    margin: 0 auto;
}

/*
 * CONTENT: GIFTS
 */
table#gifts {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border: 6px solid #ead9b080;
    font-size: 0.9em;
}

table#gifts th {
    text-align: right;
    vertical-align: top;
    font-weight: bold;
    padding-top: 0.8em;
}

table#gifts td {
    text-align: left;
    padding-left: 1em;
    padding-top: 0.8em;
}

table#gifts #gifts-title {
    font-style: italic;
    text-align: center;
    font-size: 1.2em;
    padding: 0 0 0.7em 0;
}

/*
 * FOOTER
 */
footer {
    padding: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.copyright {
    font-size: 0.8em;
    padding-top: 1em;
    padding-bottom: 1em;
}

img#img-footer {
    width: 250px;
}

@media (max-width: 900px) {
    img#img-footer {
        width: 150px;
    }
}