/*
 * Hex-to-filter: https://cssfilterconverter.com/
 */

/*
 * VARIABLES
 */
:root {
    --colorFont: #655431;
    --colorSecondary: #eee;
    --colorThird: #F2DCA6;
    --colorThirdFilter: invert(58%) sepia(89%) saturate(2188%) hue-rotate(16deg) brightness(111%) contrast(91%);
    --colorFourth: #a67f1e;
}

/*
 * GENERIC
 */
@font-face {
    font-family: 'Adios Script Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/adios-script-pro.woff') format('woff');
}

html {
    color: var(--colorFont);
    width: 100%;
}

body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}

a {
    color: var(--colorFourth);
    text-decoration: none;
    /* border-bottom: 1px solid; */
}

.marble-grey {
    background-size: 100% auto;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images/marble-grey.jpg");
    background-repeat: repeat-y;
}

.marble-yellow {
    background-size: 100% auto;
    background-image: linear-gradient(rgb(255 255 255 / 79%), rgb(255 255 255 / 57%)), url("../images/marble-yellow5.jpg");
    background-repeat: repeat-y;
}

.image-container img {
    margin-top: 1em;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
    border: 16px solid white;
    line-height: 0;
}

img.svg {
    filter: var(--colorThirdFilter);
}

/*
 * HEADER
 */
header {
    text-align: center;
}

.title {
    font-family: 'Adios Script Pro Regular', cursive;
    font-size: 5em;
    margin-bottom: 0.3em;
    margin-top: 0.6em;
    text-align: center;
}

.date {
    font-family: 'Merriweather', serif;
    font-size: 1em;
    padding-bottom: 3em;
    font-weight: bold;
}

.date-line {
    border-top: 1px solid var(--colorFont);
    padding-left: 10em;
    font-size: 0.3em;
}

.date-text {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/*
 * NAV
 */
nav {
    padding: 2em;
    font-size: 1.1em;
    text-align: center;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    box-shadow: 0px -18px 21px -18px #5e420c45;
    border-bottom: 1px solid #c2a05d45;
}

.diamond {
    color: var(--colorFourth);
    font-size: 0.6em;
    padding-left: 1em;
    padding-right: 1em;
}

/*
 * MAIN
 */
main {
    padding-bottom: 1px;
    /* border-bottom: 1px solid #c2a05d45; */
    box-shadow: 0px 18px 21px -18px #5e420c45
}

article {
    text-align: center;
    margin-bottom: 5em;
    margin-top: 2.5em;
}

div.article-title {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    margin-bottom: 0.2em;
}

div.article-footer {
    margin-bottom: 2em;
}

.highlight {
    font-style: italic;
}

table#gifts {
    width: 570px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border: 2px solid var(--colorSecondary);
    background-color: rgba(230, 209, 178, 0.2);
}

table#gifts th {
    white-space: nowrap;
    text-align: right;
    vertical-align: top;
    ;
    font-weight: bold;
}

table#gifts td {
    text-align: left;
    padding-left: 1em;
}

table#gifts #gifts-title {
    font-style: italic;
    text-align: center;
    font-size: 1.2em;
    padding: 0 0 0.7em 0;
}

/*
 * FOOTER
 */
footer {
    padding: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.copyright {
    font-size: 0.8em;
    padding-top: 1em;
    padding-bottom: 1em;
}
